body {
    width: 100%;
    margin: 0 auto;
    background: #001122;
    color: white;
    display: flex;
}

a {
    color: #069;
}

tags {
    display: none;
}

.contentLeft {
    width: 22%;
    margin-right: 1em;
}

.contentRight {
    width: 22%;
    margin-left: 1em;
}

.content {
    width: 100%;
	padding: 1em 0.33em 1em 0.33em;
	margin-top: 0.3em;
	min-height: 30em;
	background-color: rgb(53, 23, 23);
}

.sideBarBox {
    min-height: 5em;
    background-color: #4f0011;
    border-radius: 1em;
    margin-top: 1em;
}

.sideBarBox:first-child {
    margin-top: 0em;
}

.sideBarBox a {
    color: white;
    text-decoration: none;
}

/* Menu stuff. Move it to the left of the content div */
.menu {
    display: none;
}

.menuTop {
    text-align: center;
    padding-bottom: 0.3em;
    font-size: 2em;
}

.menuButton:hover {
    font-style: italic;
}

/* The global link to the blog. */
.blogGlobalButton {
    text-align: center;
}

.blogGlobalButton a {
    font-size: 2em;
    position: relative;
    top: 0.6em;
    text-decoration: none;
    color: white;
}

/* The blog list (/blog) */
.blogContentPage {
    margin: 0 auto;
    max-width: 60em;
}

.blogListLinkItem {
    text-decoration: none;
}

.blogListItem {
    min-height: 5em;
    background-color: #AABBCC;
    margin-bottom: 1em;
    color: #111111;
    text-align: left;
    padding: 1em 1em 1em 5em;
    text-decoration: none;
}

.blogListItem:hover {
    border-style: solid;
    border-color: black;
    padding: 0.80em 0.80em 0.80em 4.80em;
}

.blogListItemTitle {
    font-size: 2em;
}

.blogListItemAuthor {
    font-size: 0.85em;
    display: inline;
}

.blogListItemDate {
    font-size: 0.85em;
    display: inline;
}

.blogListItemTags {
    font-size: 0.85em;
}

/* Blog post content sections list */

section {
    margin-top: 2em;
}

img {
    margin-top: 1em;
}

.blogSectionsLeft {
    min-height: 10em;
    background-color: #4f0011;
    border-radius: 1em;
}

.blogSectionsLeft a {
    text-decoration: none;
    color: white;
}

.blogSectionsLeft a:hover {
    font-style: italic;
}

.blogSectionTitle {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.blogSubSectionTitle {
    margin-top: 1em;
    font-weight: bold;
}

.blogSubSubSectionTitle {
    margin-top: 1em;
    font-weight: bold;
}

.blogTopMessage {
    color: black;
    font-size: 2.5em;
    padding-bottom: 1em;
}

.blogPostTitle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.blogPostAuthor, .blogPostDate, .blogPostTags, .blogPostEdit, .blogPostVisible {
	text-align: right;
}

.loginWidget {
    display: none;
}

.blogPostAddLeft {
    border-right: 5px solid white;
    width: 49%;
    margin; 0;
}

.blogPostAddLeft form {
    position: fixed;
    width: 49%;
}

.blogPostAddRight {
    width: 50%;
}

.blogTextArea {
    height: 85vh;
    width: 98%;
}

.blogTags, .blogTitle, .blogTextArea {
    background-color: #13304d;
    color: rgba(211, 207, 21, 0.972);
}

.blogPostVisibleTrue {
    color: green;
}

.blogPostVisibleFalse {
    color: red;
}

.blogToggleVisibility {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: #069;
    text-decoration: underline;
}

.left {
    width: 100%;
    display: table-cell;
}

.right {
    display: table-cell;
}